<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Steam Scraper</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.0.0/materia/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/main.css">
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src="main.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark main-nav">
    <a class="navbar-brand home" href="/">Steam Scraper</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/saved">Saved Steams</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-danger scrape-articles mr-2 nav-buttons" href="/scrape">Scrape All Free Games</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-danger mr-2 nav-buttons" id="show-new" href="/new">View New</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-danger mr-2 nav-buttons" href="/top">View Top</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-danger mr-2 nav-buttons" href="/current">View Current</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-danger mr-2 nav-buttons" href="/upcoming">View Upcoming</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-danger clear nav-buttons" href="/clear">CLEAR ALL!</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="jumbotron text-center jumbo-image">
    <div class="overlay">
    </div>
    <div class="">
    </div>
    <div class="caption">
      <h1>Steam Powered Scraper</h1>
      <p>Discover your next "free to play game"!</p>
    </div>
    {{!-- <div class="">
      <p>Photo by Soumil Kumar from Pexels</p>
    </div> --}}
  </div>
  {{{body}}}
</body>

</html>